@variables{
	bgTools: #777788/*bgTools*/;
	bgToolsHover: #BBBBBB/*bgToolsHover*/;
	bgPrimary: #FFFFFF/*bgPrimary*/;
	bgSecondary: #F0EBE6/* bgSecondary */;
	border1: #AAAAAA/*border1*/;
	text1: #222222/*text1*/;
	text2: #555555/*text2*/;
}
.bloc{
    margin : auto;
    border : solid 1px #AAAAAA/*border1*/;
    background-color: #FFFFFF/*bgPrimary*/;
    overflow: hidden;
    color: #222222/*text1*/;
    font-size:14px;
    padding:2px;
}
.bloc .nav{
    width:18px;
    height:18px;
}
.bloc .nav:hover{
    background-color : #BBBBBB/*bgToolsHover*/;
    cursor:pointer;
}
.ui-jbloc-header{
    height:18px;
    /*padding:1px;*/
}
.ui-jbloc-title{
    text-align:center;
    font-size:1.1em;
    height:20px;
    overflow:hidden;
}
.ui-jbloc-footer{
    text-align:left;
    font-size:0.6em;
    display:inline-block;
}
.ui-jbloc-predata{
    text-align:center;
    font-size:0.8em;
    height:20px;
}
.ui-jbloc-postdata{
    text-align:center;
    font-size:0.8em;
    height:20px;
}
.bloc .left{
    float:left;
}
.bloc .right{
    float:right;
}
.ui-jbloc-leftzone{
    width:18px;
    float:left;
    height:100%;
    /*border:solid 1px #AAAAAA;*/
    position:relative;
    z-index:1;
}
.ui-jbloc-rightzone{
    width:30px;
    float:right;
    height:100%;
    border:solid 1px #AAAAAA;
    position:relative;
    z-index:1;
}
.ui-jbloc-leftzone button,
.ui-jbloc-rightzone .button{

}
.bloc thead tr:last-of-type th{
    border-bottom:solid 1px #DDDDDD/*border1*/;
}

.bloc .tbody{
    overflow:auto;
}
.grid{
    padding-top:25px;
    padding-bottom:25px;
    position:relative;
    margin:auto;
}
.grid table{
    /*width:100%;*/
    overflow:auto;
    border-spacing:0;
    font-size:0.9em;
    /*table-layout:fixed;*/
}
.grid thead tr{
    position:absolute;
    top:0px;
}
.grid tfoot tr{
    position:absolute;
    bottom:0px;
    margin-right:16px;
    border-top:solid 1px #DDDDDD;
}
.grid tfoot td{
    padding:0px 1px;
    text-align:center;
    border-right:solid 1px rgba(0, 0, 0, .0);
    overflow:hidden;
}
.grid tbody{
    overflow:auto;
}
.grid .in{
    overflow:auto;
    height:80px;
}
.grid th{
    padding:4px 1px 0px 1px;
    text-align:center;
    border-right:solid 1px rgba(0, 0, 0, .0);/*color with opacity 0*/
    font-weight:normal;
    overflow:hidden;
    display:inline-block;
}
.grid tbody td{
    padding:0 1px 5px;
    text-align:left;
    border-right:solid 1px #DDDDDD;
    border-bottom:solid 1px rgba(0, 0, 0, .0);/*color with opacity 0*/
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    height:15px;
}
.grid tbody td select{
    padding:0px;
    /*font-size:0.7em;*/
    margin-top:-2px;
    margin-bottom:-2px;
    margin-right:-10px;
    margin-left:-4px;
    width:100%;
}
.grid td.selector input{
    margin:0px;
}
.grid tr th.selector,
.grid tr td.selector{
    width:13px;
    border-bottom:solid 1px rgba(0, 0, 0, .0) !important;/*color with opacity 0*/
    border-right:solid 1px rgba(0, 0, 0, .0);/*color with opacity 0*/
}
.grid tbody td.editable{
    /* border-bottom:1px dotted #172BC4; */
    border-top: solid 1px #999999;
    border-left: solid 1px #999999;
    border-bottom: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
}
.grid tbody td.editable:hover{
    background-color:#EDEDED;
    cursor:text;
}
.grid tbody td.action{
    border-bottom:1px dashed #BBBBBB;
}
.grid tbody td.action:hover{
    cursor:pointer;
}
.grid caption{
    display:none;
}
.editable input{
    width:100%;
    height:100%;
    padding:0px;
    border:0px;
    margin-top: 2px;
}
.grid .hasDatepicker{
    position:relative;
    top:-2px;
}
.grid .ui-datepicker-trigger{
    position:relative;
    left:-16px;
}
.grid .ui-datepicker-trigger:hover{
    cursor:pointer;
}
#ui-datepicker-div{
    font-size:0.7em;
}
.grid tbody tr:nth-child(even) {background: #F9F9F9}
.grid tbody tr:nth-child(odd) {background: #FFF}
.ctrl-msg{
    width: 100%;
    background-color: #ffe585;
}